.title{
    text-align: center;
    padding: 1em;
}
.content{
    padding: 20em;
    width: 60em;
    margin-left: 10em !important;
    margin-top: 5em !important;
    
}
form{

}

.form-control{
    margin-bottom: 2em;
}