.header-flex-container{
    background-position: 80% 75%;
    background: hsla(211, 67%, 53%, 1);
 
background: radial-gradient(circle, rgb(24, 76, 131) 0%, hsla(283, 80%, 12%, 1) 100%);

background: -moz-radial-gradient(circle, rgb(22, 63, 107) 0%, hsla(283, 80%, 12%, 1) 100%);

background: -webkit-radial-gradient(circle, rgb(23, 70, 121) 0%, hsla(283, 80%, 12%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#3684D7", endColorstr="#280635", GradientType=1 );
  font-family: var(--font-family);
    background-repeat: no-repeat;
    height:75vh;
  
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
  }

  .header-greetings-flex-item{
    line-height: 30px;
  }
  .welcome{
    font-family: var(--font-family);
      font-weight: bold;
      
  }
  .headercontent{
      
  }
  .title-secondary{
      color:  rgb(255, 255, 255);
      opacity: .7;
    
      
      
  }
  .button-header{
    margin-left: 1em !important;
    margin-right: 1em !important;
    border-radius: 20px !important;
    font-size: 1rem;
    padding: 8px;
    max-width: 150px;
    min-width: 150px;
    box-shadow: 0px 0px 0px 2px inset;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    color: rgb(102, 133, 255);
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    margin: 0px;
    padding: 0.85rem 1rem;
    transition: all 0.3s ease-in 0s;
    text-decoration: none;
    white-space: nowrap;
  }
  .button-header2{
  
  border-radius: 20px !important;
  font-size: 1rem;
  padding: 8px;
  max-width: 150px;
  min-width: 150px;
  border-color: rgb(102, 133, 255);
  
  background-color: rgb(102, 133, 255);
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  color: white;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  margin: 0px;
  padding: 0.85rem 1rem;
  transition: all 0.3s ease-in 0s;
  text-decoration: none;
  white-space: nowrap;
}

.header-image-flex-item img{
  height: 300px;
  width: 500px;
 
}
.header-flex-container-container{
  display: flex;
  justify-content: space-evenly ;
}

@media screen and (max-width: 550px) {
  .header-flex-container{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2em;
    height: 100vh;
  }
  .header-image-flex-item img{
    height: 200px;
    width: 400px;
   margin-right: 2em;
  }
  .button-header{
    margin-left: 0em;
  }
}