
.nav-links{
    list-style-type: none;
    display: flex;
    padding-right:5em;
    
}
.links{
    color: rgb(102, 133, 255) !important;  
}
.brand{
    color: rgb(102, 133, 255);
    font-weight: bold;
    padding-left: 2em;
    padding-top: .5em;
}
nav{
    padding-top: 0em !important;
    box-shadow: rgb(0 0 0 / 15%) 0px 1px 6px 0px;
    background-color: white !important;
    
}
.link-item{
    padding-right: 2em;
    padding-top: 2em;
    color: rgb(102, 133, 255);
}
.link-item:hover{
   
    cursor: pointer;
}
.navbar{

    z-index: 10; /* If you delete this line, your menu link won't be clicked because it is behind the background. Applying this code bring the menu in front of the background */
  }