.row-items{
   
    
    justify-content: space-between !important;
   
  
}
.main-container{
  border-radius: 20px;
  padding: 1em;
}
body{
  
}
.cta-img{
  margin-bottom: 1;
  margin-right: 3em;
}

.cta-p{
  font-size: 16px;
  opacity: 0.7;
  text-align: center;
}
.cta-header{
  text-align: center;
  color: rgb(102, 133, 255);
}
.cta-category-item{
  width: 16em !important;
  box-shadow: 0 3px 10px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 2em;
}
.home-message{
  text-align: center;
  font-weight: 900;
  font-family: var(--font-family);
  opacity: 0.8;
  font-size: 20px;
  margin-left: 1em;
  margin-bottom: 2em;
  color: rgb(102, 133, 255);
}
.second-home-message
{
  line-height: 30px;
  margin-left: 2em;
}
.view{
    background-color: #5863f807;
}
.banner{
    height: 175px;
    background-color:  rgb(102, 133, 255);;
}
.banner-text{
    color: white;
    text-align: center;
    padding: 2em;
    font-weight: bold;
}
.row{
    --bs-gutter-x: 0rem;
    --bs-gutter-y: 0rem;
}

.most-popular{
   margin-left: 3em;
    color: rgb(102, 133, 255);
}
/** Custom Select **/
.custom-select-wrapper {
    position: relative;
    display: inline-block;
    user-select: none;
  }
    .custom-select-wrapper select {
      display: none;
    }
    .custom-select {
      position: relative;
      display: inline-block;
    }
      .custom-select-trigger {
        position: relative;
        display: block;
        width: 130px;
        padding: 0 84px 0 22px;
        font-size: 22px;
        font-weight: 300;
        color: #fff;
        line-height: 60px;
        background: #5c9cd8;
        border-radius: 4px;
        cursor: pointer;
      }
        .custom-select-trigger:after {
          position: absolute;
          display: block;
          content: '';
          width: 10px; height: 10px;
          top: 50%; right: 25px;
          margin-top: -3px;
          border-bottom: 1px solid #fff;
          border-right: 1px solid #fff;
          transform: rotate(45deg) translateY(-50%);
          transition: all .4s ease-in-out;
          transform-origin: 50% 0;
        }
        .custom-select.opened .custom-select-trigger:after {
          margin-top: 3px;
          transform: rotate(-135deg) translateY(-50%);
        }
    .custom-options {
      position: absolute;
      display: block;
      top: 100%; left: 0; right: 0;
      min-width: 100%;
      margin: 15px 0;
      border: 1px solid #b5b5b5;
      border-radius: 4px;
      box-sizing: border-box;
      box-shadow: 0 2px 1px rgba(0,0,0,.07);
      background: #fff;
      transition: all .4s ease-in-out;
      
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transform: translateY(-15px);
    }
    .custom-select.opened .custom-options {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      transform: translateY(0);
    }
      .custom-options:before {
        position: absolute;
        display: block;
        content: '';
        bottom: 100%; right: 25px;
        width: 7px; height: 7px;
        margin-bottom: -4px;
        border-top: 1px solid #b5b5b5;
        border-left: 1px solid #b5b5b5;
        background: #fff;
        transform: rotate(45deg);
        transition: all .4s ease-in-out;
      }
      .option-hover:before {
        background: #f9f9f9;
      }
      .custom-option {
        position: relative;
        display: block;
        padding: 0 22px;
        border-bottom: 1px solid #b5b5b5;
        font-size: 18px;
        font-weight: 600;
        color: #b5b5b5;
        line-height: 47px;
        cursor: pointer;
        transition: all .4s ease-in-out;
      }
      .custom-option:first-of-type {
        border-radius: 4px 4px 0 0;
      }
      .custom-option:last-of-type {
        border-bottom: 0;
        border-radius: 0 0 4px 4px;
      }
      .custom-option:hover,
      .custom-option.selection {
        background: #f9f9f9;
      }
