.category-container{
    margin-top: 2em;
    border-right: 1px solid #edeeff;
    
    height: 90%;
    
}

.category-list{
    list-style: none;
    padding-left: 2em;
    padding-right: 2em;
    
    
}
.langtitle{
    box-shadow: 0 4px 7px 3px rgba(0, 0, 0, 0.1);
    padding: .5em;
}
.title{
    text-align: center;
    font-weight: 600;
    font-family: var(--font-family);
    color: black;
    box-shadow: 0 4px 7px -1px rgba(0, 0, 0, 0.1);
}

.category-item{
    font-family: var(--font-family) !important;
    padding: .5em;
    min-width: 8em;
    box-shadow: 0 4px 3px 3px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
}
.category-item:hover{
    background-color:  #eeefff;
    cursor: pointer;

}