.content{
    padding: 6rem;
    border: 1px solid slateblue;
    border-radius: 40px 200px;
    border: 2px solid #bbbfff;;
    box-shadow: 10px 10px 60px rgb(0 0 0 / 0.2);
    margin-left: 10em !important;
    width: 95% !important;
    margin-left: 4em !important;
    color: rgb(0, 0, 0);
    
}
.headr-color{
    height: 100px;
    background-color: turquoise;
}
.wrap{
    box-shadow: 0 3px 7px 2px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 1em;
    margin-left: 2em;
    min-width: 9.5em ;
}