*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
  
}
.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
	height: 142px; 
}
.site-footer {
  background: #ffffff;;
  color: rgb(102, 133, 255);;
  border: 1px solid white;
  border-radius: 20px 0px;
}
.yo{
  border: 100px solid rgb(13, 6, 55);
  border-radius: 10px;
  padding-top: 4em;
}
.border-gradient{
  z-index: -20 !important;
  padding: 2em;
  background: hsla(211, 67%, 53%, 1);
 
  background: radial-gradient(circle, rgb(24, 76, 131) 0%, hsla(283, 80%, 12%, 1) 100%);
  
  background: -moz-radial-gradient(circle, rgb(22, 63, 107) 0%, hsla(283, 80%, 12%, 1) 100%);
  
  background: -webkit-radial-gradient(circle, rgb(23, 70, 121) 0%, hsla(283, 80%, 12%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#3684D7", endColorstr="#280635", GradientType=1 );
}
.outer{
  z-index: 100;
}